body {
    background: #f7f7f7;
    font-family: Verdana;
    max-width: 900px;
    margin: auto;
}

.profilePic {
    border-radius: 50%;
}

#title, .subTitle, .postTitle {
    color: #505050;
}

#title {
    font-size: 40px;
    text-transform: uppercase;
}

a {
    text-decoration: line-through;
    color: #505050;
}

.postTitle {
    font-size: 16px;
    font-style: italic;
    margin: 0;
    margin-bottom: 15px;
}

.post {
    background: #fff;
    padding: 15px;
    border: 3px solid #505050;
    margin-bottom: 15px;
    border-radius: 5px;
}

.postContent {
    margin: 0;
    margin-bottom: 15px;
    text-transform: capitalize;
    text-align: justify;
}

.postImg {
    width: 100%;
    margin-bottom: 15px;
}

.ContactsListUL {
    list-style-type: none;
    padding-left: 15px;
}

.ContactsListUL li a{
    text-decoration: none;
}

.ContactsListOL {
    list-style-type: upper-roman;
    padding-left: 30px;
}

.ContactsListOL li a{
    text-decoration: none;
}